<!DOCTYPE html>
<html>
<head>
  <title>Ecomdemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="container" style="width: 100%;overflow:auto;">

		<div id="left" style="float:left;">
			<%= image_tag('centos_logo.png',width: '300', height: '150') %>
		</div>

		<div id="right" style="float:right;">
			<p class="title_name"> Ecommerce Demo </p>	
		</div>
</div>

<div id="content" style="width: 100%;overflow:auto;">

		<div id="left_navigation" style="float:left;">
			<% if session[:user_id] %>

			<p class="link"> <%= link_to 'Home', :controller => 'admin', :action => 'index' %> </p> <br>
			<p class="link"> <%= link_to 'Add User Type', roles_path %> </p> <br>			
			<p class="link"> <%= link_to 'Sellers', users_path %> </p> <br>
			<p class="link"> <%= link_to 'Logout', logout_path, method: :delete %> </p> <br>
			<% end %>	
 			</div>

		<div id="right" style="float:right;">
				<%= yield %>			
		</div>
</div>




</body>
</html>
